.toast {
    display: none;
    flex-direction: column;
    width: 438px;
    background-color: #F64B3C;
    background-image: url('./img/bubbles.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 32px;
    position: fixed;
    bottom: 5%;
    left: 60%;    
    z-index: 50;
    padding: 16px 24px 24px 130px; 
}

.header {
    font-family: 'Factor A';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 32px;
    line-height: 38.4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: -0.035em;
}

.content {
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.button {
    border: none;
    background-color: #F64B3C;
    cursor: pointer;
}
.error {
    position: absolute;
    top: -40px;
    left: 20px;
    width: 78px;
    height: 78px;
}

.toast.active {
    display: flex;
}
@media screen and (max-width: 1100px) {
    .toast{
        bottom: 5%;
        left: 50%;    
    }
}
@media screen and (max-width: 768px) {
    .toast{
        bottom: 5%;
        left: 30%;    
    }
}
@media screen and (max-width: 560px) {
    .toast{
        width: 288px;
        bottom: 5%;
        left: 12%;
        padding: 16px 16px 21px 78px; 
        background-size: 25%;
    }
    .header {
        font-size: 24px;
        line-height: 28px;
    }
    .error{
        left: 5px;
    }
    .content {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 350px) {
    .toast{
        bottom: 5%;
        left: 4%;
        padding: 16px 16px 21px 78px; 
    }
}