.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color:rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px) ;
}
.modalContent {
    padding: 24px;
    background: white;
    min-width: 250px;
}
.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}