.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px 20px 80px;
}

.text {
    font-size: 16px;
    font-family: 'Gilroy';
    font-weight: normal;
    color: #8A8A8A;
}

.item:nth-child(2) {
    padding-left: 16px;
    padding-right: 16px;
}

.socialList {
    list-style: none;
    display: flex;
}