.button {
    font-size: 18px;
    font-family: "Gilroy";
    font-weight: 600;
    border: none;
    border-radius: 2px;
    padding: 17px 28px;
    background: #fff;
    cursor: pointer;
}

.button:active {
    background: #C2C4FF;
}

.button:disabled {
    background: #E0E0E0;
}