.button {
    border: none;
    border-radius: 2px;
    background: #585CC6;
    color: #fff;
    padding: 17px 28px;
    font-size: 18px;
    display: flex;
    align-items: center;
    line-height: 18px;
    cursor: pointer;
    font-family: 'Gilroy';
    font-weight: 600;   
    height: 52px;
    gap: 10px; 
}

.icon {
    background: url(./img/Vector.svg) no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
}
.button:hover {
    background: linear-gradient(to right, #696DC8 50%, #585CC6 50%);
}
.button:active {
    background: #797DDF;
}

.button:disabled {
    background: #8A8A8A;
}