.button {
    font-size: 18px;
    font-family: "Gilroy";
    font-weight: 600;
    border: none;
    border-radius: 2px;
    padding: 17px 28px;
    background: #585CC6;
    line-height: 17px;
    letter-spacing: 1%;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to right, #696DC8 50%, #585CC6 50%);
}

.button:active {
    background: #797DDF;
}

.button:disabled {
    background: #8A8A8A;
}