
.userCard {
    background-color: white;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    max-width: 768px;
    min-width: 288px;
    max-height: 383px;
    padding: 40px;
    display: grid;
    grid-template-areas: 
        "name name date"
        "city sex age"
        "info info info"
        "pets pets pets";
}

.user {
    display: flex;
    margin: 88px 80px 120px;
}

.bold {
    font-weight: 700;
}

.photo {
    margin-top: 32px;
    min-width: 519px;
}

.name {
    font-family: 'Factor A';
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #585CC6;
    height: 15px;
    grid-area: name;
}

.date {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color:#8A8A8A;
    grid-area: date;
    text-align: end;
}

.city {
    grid-area: city;
}

.sex {
    gap: 5px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: 2px;
    grid-area: sex;
}

.age {
    grid-area: age;
}

.info {
    letter-spacing: 1%;
    grid-area: info;
}

.pets {
    grid-area: pets;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    
    .user {
        flex-direction: column;
        align-items: center;
    }

    .userCard {
        font-size: 16px;
        line-height: 22px;
        width: 288px;
        height: 482px;
        padding: 16px;
        grid-template-areas: 
            "name name"
            "date date"
            "city sex"
            "age age"
            "info info"
            "pets pets";
    }

    .name {
        font-size: 24px;
        line-height: 32px;
    }
}